extends layout

block content
  .container
    .row(style="height: 500px")
      .col
        form
          .form-group
            lablel(for="origin-input") From
            input.form-control(type="text" id="origin-input" name="origin-input")

          .form-group
            label(for="destination-input") To
            input.form-control(type="text" id="destination-input" name="destination-input")


      .col(style="background: teal")
        #map(style="height:100%; width: 100%")