doctype html
html
  head
    title= 'trip-interest'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://kit.fontawesome.com/265005b203.js" crossorigin="anonymous")

  body
    block content

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAP_KEY}&libraries=places`)
      //- https://publish.twitter.com/#
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
      script(src='/dist/App.bundle.js')
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')