doctype html
html
  head
    title= 'trip-interest'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    //- link(type='text/css' rel='stylesheet' href='https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://kit.fontawesome.com/265005b203.js" crossorigin="anonymous")

  body
    header
      block navbar
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
          a.navbar-brand(href="/") Trip-Interest
          .navbar-nav.nav-pills
            a.nav-item.nav-link(href='/' class="active") Home
            a.nav-item.nav-link(href='/favourites') Favourites

          .navbar-nav.ml-auto
            form.form-inline(action="/login" method="GET")
              button.btn.btn-outline-success(type="submit") Login

    block content

    //- https://publish.twitter.com/#
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    block scripts