doctype html
html
  head
    title= 'trip-interest'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    block content
    .container
      .jumbotron Serving up HTML

    block scripts
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')