#map-canvas {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -1;
}

#map {
  height: 100%;
  width: 100%;
}

#selected-route-card {
  background-color: violet;
  /* default to hidden */
  visibility: hidden;
}
