#map-canvas {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -1;
}

#map {
  height: 100%;
  width: 100%;
}

#selected-route-card {
  background-color: violet;
  /* default to hidden */
  visibility: hidden;
}

#username,
#login-btn,
#logout-btn {
  display: none;
}

.heart-btn {
  outline: blue;
}

.heart-btn:hover {
  color: red;
  outline: none;
}

.heart-btn:focus,
.heart-btn:active {
  outline: none;
  box-shadow: none;
}

#heart-unsave-btn,
#heart-save-btn {
  display: none;
  display: none;
}

#heart-unsave {
  color: red;
}
