extends layout

block head
  //- Reference:
  //- Firebase, "firebase/firebaseui-web", GitHub, 2020. [Online].
  //- Available: https://github.com/firebase/firebaseui-web.
  link(type='text/css' rel='stylesheet' href='https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css')

block content
  #firebaseui-auth-container

block scripts
  script(src='/dist/Login.bundle.js')